<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">

<head>
    <title>Create Product</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container my-3">
        <div class="card center">
            <div class="card-body">
                <h5 class="card-center-title">CREATE PRODUCT</h5>
                <div class="dropdown-divider"></div>
                <form th:action="@{createWarehouse}" th:object="${warehouse}" method="POST">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name of Product</label>
                        <div class="col-sm-10 mb-3">
                            <input type="text" class="form-control" name="namaBarang" placeholder="Input name of product...">
                            <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorProductName != null}"><p class="text-danger font-weight-light mb-0" th:inline="text"><i class="fa fa-bullhorn"></i> [[${errorProductName}]]</p></div>
                        </div>
                        <label class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10 mb-3">
                            <input type="number" class="form-control" name="hargaBarang" placeholder="Input price...">
                            <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorPrice != null}"><p class="text-danger font-weight-light mb-0" th:inline="text"><i class="fa fa-bullhorn"></i> [[${errorPrice}]]</p></div>
                        </div>
                        <label class="col-sm-2 col-form-label">Stock</label>
                        <div class="col-sm-10 mb-3">
                            <input type="number" class="form-control" name="stockBarang" placeholder="Input stock...">
                            <div class="alert alert-danger pt-0 pb-0 mt-1 mb-1" th:if="${errorStock != null}"><p class="text-danger font-weight-light mb-0" th:inline="text"><i class="fa fa-bullhorn"></i> [[${errorStock}]]</p></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitwarehouse">
                        Submit
                    </button>

                    <div class="modal fade" id="submitwarehouse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure to add this item?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>